body {
    height: 100vh;
    overflow: hidden;
}

label {
    display: block;
}

header.online #headerExtra {
    color: var(--green);
}

header.offline #statusIndicator {
    background-color: var(--peach);
    background-size: 0;
}

header.online #statusIndicator {
    background-color: var(--green);
    background-size: 0;
}

header.online #loadingAnimationBar,
header.offline #loadingAnimationBar {
    visibility: hidden;
}

header.offline #header,
header.online #header {
    opacity: 0;
}

header.offline #headerExtra,
header.online #headerExtra {
    transform: translateY(-100%);
}

.toastContainer {
    position: absolute;
    left: 0;
    top: -32px;
    transition: transform 150ms ease-out;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 250;
    pointer-events: none;
}

.toastContainer.show {
    transform: translateY(calc(100% + 6px));
}

.toast {
    padding: 6px 12px;
    border-radius: 16px;
    background-color: var(--cornflower-blue-90pc);
    line-height: 20px;
    font-size: 15px;
    color: #fff;
}

.overviewContent,
.screenContent {
    display: none;
    width: 100%;
    height: 100%;
}

section.tabContent {
    display: none;
}

main[data-selection="barrel"] .overviewContent,
main[data-selection="screen"] .screenContent {
    display: block;
}

main {
    display: flex;
    position: relative;
}

.screenContentMainView {
    display: flex;
    height: calc(100vh - 52px);
}

aside.resizable {
    flex: 0 0 auto;
    width: 300px;
    height: 100%;
    position: relative;
}

aside.resizable.resizing {
    flex: 0 1 auto;
}

.versionsSidebarWrapper {
    min-width: 245px;
}

.versionsSidebarWrapper:not(.compact).collapsed {
    display: none;
}

.versionsSidebarWrapper.compact.collapsed,
.versionsSidebarWrapper.compact.collapsed .versionsSidebar {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
}

.resizer {
    opacity: 0;
    width: 6px;
    height: 100%;
    background-color: var(--casper);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    z-index: 100;
    cursor: col-resize;
}

.resizable[data-side="right"] .resizer {
    right: 100%;
}

.resizable[data-side="left"] .resizer {
    left: 100%;
}

.resizerCircle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--gandalf);
}

.resizerCircle:nth-child(even) {
    margin: 6px 0;
}

.versionsSidebar {
    z-index: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 0 0 0 var(--whitey);
}

.versionsSidebar h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 13px 12px 11px;
    background-color: var(--whitey);
    box-shadow: 2px 1px 2px 0 var(--teflon-20pc);
    font-size: 15px;
    white-space: nowrap;
    color: var(--teflon);
}

.versionsSidebarWrapper.collapsed .versionsSidebar h2 {
    display: none;
}

.versionsSidebar .versions {
    height: 100%;
    padding-top: 42px;
    overflow-x: hidden;
    overflow-y: auto;
}

.versionsSidebar .versionsLoading {
    height: 100%;
    margin-top: 72px;
    background-image: radial-gradient(circle 6px at 6px 6px, var(--whitey) 99%, transparent),
                      linear-gradient(transparent 36px, var(--whitey) 36px),
                      radial-gradient(circle 12px at 12px 12px, var(--whitey) 99%, transparent),
                      linear-gradient(transparent 12px, var(--whitey) 12px, var(--whitey) 24px, transparent 24px),
                      linear-gradient(transparent 12px, var(--whitey) 12px, var(--whitey) 24px, transparent 24px),
                      linear-gradient(transparent 12px, var(--whitey) 12px, var(--whitey) 24px, transparent 24px),
                      linear-gradient(transparent 12px, var(--whitey) 12px, var(--whitey) 24px, transparent 24px);
    background-position: 14px 12px, 19px 0, 52px 6px, 88px 0, right 12px top 0, 52px 42px, 52px 62px;
    background-size: 12px 116px, 2px 116px, 24px 116px, 86px 116px, 36px 116px, calc(100% - 64px) 116px, calc(100% - 136px) 116px;
    background-repeat: no-repeat repeat;
}

.versionsSidebarWrapper.loading .versionsSidebar .versions,
.versionsSidebar .versionsLoading {
    display: none;
}

.versionsSidebarWrapper.loading .versionsSidebar .versionsLoading {
    display: block;
}

.versionsSidebarWrapper.collapsed .versionsSidebar .versions {
    width: 80px;
}

.versions h3 {
    display: flex;
}

.versions h3 .versionNode .versionConnector {
    flex: 1;
}

.versions h3 .versionHeaderText {
    flex: 1;
    padding: 24px 6px 12px;
    font-size: 15px;
    font-weight: 500;
    color: var(--gandalf);
    white-space: nowrap;
    text-transform: capitalize;
}

.versionsSidebarWrapper.collapsed .versions h3 .versionHeaderText {
    visibility: hidden;
}

.versionNode {
    width: 40px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.version.initialCommit .versionConnector.top {
    height: 4px;
}

.version.initialCommit .versionNode img {
    width: 12px;
    margin-top: 12px;
    object-fit: contain;
}

.version.initialCommit .commit {
    padding: 12px 12px 36px;
    cursor: auto;
}

.version.initialCommit .commit h4 {
    margin-bottom: 6px;
    font-size: 15px;
    color: var(--teflon);
}

.version.initialCommit .commit p {
    font-size: 15px;
    color: var(--gandalf);
}

.versionLimitExceeded {
    width: 100%;
    height: 232px;
    padding: 48px 24px;
    line-height: 18px;
    font-size: 15px;
    text-align: center;
    color: var(--teflon);
    background-image: linear-gradient(var(--white-60pc), var(--white-60pc)),
                      radial-gradient(circle 6px at 6px 6px, var(--whitey) 99%, transparent),
                      linear-gradient(transparent 36px, var(--whitey) 36px),
                      radial-gradient(circle 12px at 12px 12px, var(--whitey) 99%, transparent),
                      linear-gradient(transparent 12px, var(--whitey) 12px, var(--whitey) 24px, transparent 24px),
                      linear-gradient(transparent 12px, var(--whitey) 12px, var(--whitey) 24px, transparent 24px),
                      linear-gradient(transparent 12px, var(--whitey) 12px, var(--whitey) 24px, transparent 24px),
                      linear-gradient(transparent 12px, var(--whitey) 12px, var(--whitey) 24px, transparent 24px);
    background-position: auto, 14px 12px, 19px 0, 52px 6px, 88px 0, right 12px top 0, 52px 42px, 52px 62px;
    background-size: auto, 12px 116px, 2px 116px, 24px 116px, 86px 116px, 36px 116px, calc(100% - 64px) 116px, calc(100% - 136px) 116px;
    background-repeat: no-repeat repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.versionsSidebarWrapper.collapsed .versionLimitExceeded {
    width: 300px;
    padding-left: 40px;
    color: transparent;
}

.versionLimitExceeded .versionPlural {
    display: none;
}

.versionLimitExceeded.plural .versionPlural {
    display: initial;
}

.versionLimitExceeded a {
    white-space: nowrap;
    font-weight: 500;
    color: var(--peach);
}

.nodeColorChooser {
    position: absolute;
    top: 10px;
    left: 6px;
    background-color: #fff;
    border-radius: 14px;
    width: 28px;
    height: 28px;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: width 300ms ease-in-out,
                box-shadow 125ms ease-in-out 175ms;
}

.nodeColorChooser:hover {
    width: 126px;
    box-shadow: 0 2px 4px 0 var(--teflon-50pc);
    transition: width 300ms ease-in-out,
                box-shadow 125ms ease-in-out;
}

.nodeColor {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
}

.nodeColor {
    margin-left: 6px;
}

.nodeColor.yellow {
    background-color: var(--yellow);
}

.nodeColor.orange {
    background-color: var(--orange);
}

.nodeColor.peach {
    background-color: var(--peach);
}

.nodeColor.green {
    background-color: var(--green);
}

.nodeColor.turquoise {
    background-color: var(--turquoise);
}

.nodeColorChooser.yellow .nodeColor.yellow {
    box-shadow: 0 0 0 1px #fff,
                0 0 0 2px var(--yellow);
}

.nodeColorChooser.orange .nodeColor.orange {
    box-shadow: 0 0 0 1px #fff,
                0 0 0 2px var(--orange);
}

.nodeColorChooser.peach .nodeColor.peach {
    box-shadow: 0 0 0 1px #fff,
                0 0 0 2px var(--peach);
}

.nodeColorChooser.green .nodeColor.green {
    box-shadow: 0 0 0 1px #fff,
                0 0 0 2px var(--green);
}

.nodeColorChooser.turquoise .nodeColor.turquoise {
    box-shadow: 0 0 0 1px #fff,
                0 0 0 2px var(--turquoise);
}

.versionConnector {
    width: 2px;
    background-color: var(--whitey);
}

.versionConnector.top {
    height: 6px;
    border-radius: 0 0 1px 1px;
}

.version:first-of-type .versionConnector.top,
.versionsSidebar h3:first-of-type .versionConnector,
.version:first-child .versionConnector.top {
    background-color: transparent;
}

.versionConnector.bottom {
    flex: 1;
    border-radius: 1px 1px 0 0;
}

.versionNodeDot,
.selectedNodeColor {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versionNodeDot {
    margin: 4px 0;
}

.versionNodeDot::before,
.selectedNodeColor::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f7f7f7;
    /* background-color: var(--whitey); */
}

.version.yellow .versionNodeDot::before,
.version.yellow .selectedNodeColor::before {
    background-color: #fecf33;
    /* background-color: var(--yellow); */
}

.version.orange .versionNodeDot::before,
.version.orange .selectedNodeColor::before {
    background-color: #f69833;
    /* background-color: var(--orange); */
}

.version.peach .versionNodeDot::before,
.version.peach .selectedNodeColor::before {
    background-color: #ee6723;
    /* background-color: var(--peach); */
}

.version.green .versionNodeDot::before,
.version.green .selectedNodeColor::before {
    background-color: #c8cf2d;
    /* background-color: var(--green); */
}

.version.turquoise .versionNodeDot::before,
.version.turquoise .selectedNodeColor::before {
    background-color: #0dcfda;
    /* background-color: var(--turquoise); */
}

.version.selected .versionNodeDot::before,
.version.selected .selectedNodeColor::before {
    width: 8px;
    height: 8px;
    background-color: #fff;
}

.version.selected.yellow .versionNodeDot,
.version.selected.yellow .selectedNodeColor {
    background-color: var(--yellow);
}

.version.selected.orange .versionNodeDot,
.version.selected.orange .selectedNodeColor {
    background-color: var(--orange);
}

.version.selected.peach .versionNodeDot,
.version.selected.peach .selectedNodeColor {
    background-color: var(--peach);
}

.version.selected.green .versionNodeDot,
.version.selected.green .selectedNodeColor {
    background-color: var(--green);
}

.version.selected.turquoise .versionNodeDot,
.version.selected.turquoise .selectedNodeColor {
    background-color: var(--turquoise);
}

.version .commit {
    flex: 1;
    overflow: hidden;
    padding: 12px 12px 0;
    background-color: #fff;
    transition: background-color 300ms ease;
    cursor: pointer;
}

.versionsSidebarWrapper.collapsed .version .commit {
    visibility: hidden;
}

.version.selected.yellow .commit {
    background-color: var(--yellow-15pc);
}

.version.selected.orange .commit {
    background-color: var(--orange-15pc);
}

.version.selected.peach .commit {
    background-color: var(--peach-15pc);
}

.version.selected.green .commit {
    background-color: var(--green-15pc);
}

.version.selected.turquoise .commit {
    background-color: var(--turquoise-15pc);
}

.version .versionMetadata {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.version .versionAuthor {
    display: flex;
    margin-right: 12px;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

.version.sameCreator .commit {
    padding-top: 12px;
}

.version.sameCreator .versionAuthor {
    display: none;
}

.version.sameCreator time {
    flex: 1;
}

.version .versionAuthorImageFrame {
    margin-right: 12px;
}

.version .versionAuthorName {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    color: var(--teflon);
}

.version .versionMetadata time {
    font-size: 14px;
    color: var(--gandalf);
}

.version:not(.sameCreator):hover time,
.version:not(.sameCreator).contextMenuOpen time {
    display: none;
}

.version.contextMenuOpen .commitButtons,
.versionsSidebarWrapper:not(.compact) .version:not(.editing):hover .commitButtons {
    display: flex;
}

.commitMessageEditButton {
    display: none;
}

.version.canDelete.versionOwner:not(.empty) .commitMessageEditButton {
    display: block;
}

.version {
    display: flex;
}

.versionsSidebarWrapper.collapsed .versionsSidebar .version {
    width: 300px;
}

.commitMessage {
    padding: 0 0 36px;
    background-color: transparent;
}

.enterCommitMessageButton {
    display: none;
    line-height: 18px;
    font-size: 15px;
    color: var(--yellow);
}

.version.yellow .enterCommitMessageButton {
    color: var(--yellow);
}

.version.orange .enterCommitMessageButton {
    color: var(--orange);
}

.version.peach .enterCommitMessageButton {
    color: var(--peach);
}

.version.green .enterCommitMessageButton {
    color: var(--green);
}

.version.turquoise .enterCommitMessageButton {
    color: var(--turquoise);
}

.version.canDelete.versionOwner.empty:not(.editing) .enterCommitMessageButton {
    display: block;
}

.version.canDelete.versionOwner.empty:not(.editing) .commit {
    padding-bottom: 24px;
}

.version.canDelete.versionOwner.empty:not(.editing) .commitMessage {
    padding-bottom: 12px;
}

.version.canDelete.versionOwner.empty.editing .commitMessage .wrapper {
    /* collapse controls margin */
    margin-bottom: 28px;
}

.version.editing .commitMessage.editing {
    background-color: transparent;
}

.versionsCollapser {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    font-size: 0;
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 30;
    color: var(--teflon);
    background-color: #eae8ea;
    background-color: var(--middle-gray);
    overflow: hidden;
}

.versionsSidebarWrapper.collapsed .versionsCollapser {
    right: 6px;
}

.screenContent.oldVersion .versionsCollapser img.close,
.versionsSidebarWrapper.collapsed .versionsCollapser img.close,
.screenContent .versionsCollapser img.collapse {
    display: none;
}

.versionsSidebarWrapper.collapsed .versionsCollapser img.collapse,
.screenContent.oldVersion .versionsCollapser img.collapse {
    display: inline-block;
}

.versionsSidebarWrapper.collapsed .versionsCollapser img.collapse {
    transform-origin: center;
    transform: rotateZ(180deg);
}

#dotPopup {
    position: absolute;
    z-index: 100;
    width: 320px;
    padding-bottom: 8px;
    top: 0;
    left: 0;
    will-change: transform;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 var(--teflon-50pc);
    font-size: 15px;
    line-height: 20px;
    color: var(--teflon);
}

#dotPopupAnchor {
    position: absolute;
    top: 29px;
    z-index: -1;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 var(--teflon-50pc);
}

#dotPopup.left #dotPopupAnchor {
    right: -13px;
    transform-origin: 0 0;
    transform: rotate(45deg);
}

#dotPopup.right #dotPopupAnchor {
    left: -13px;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
}

#dotPopup.overflown #dotPopupAnchor {
    display: none;
}

#dotColors {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    padding: 6px;
    z-index: 1;
}

.dotColor {
    width: 12px;
    height: 12px;
    margin-left: 6px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
    background-color: var(--dot-color);
    transition-timing-function: linear;
    transition-delay: 0ms;
    transition-duration: 150ms;
    transition-property: transform;
}

.dotColor.yellow {
    transform: translateX(108px);
    --dot-color: var(--yellow);
}

.dotColor.orange {
    transform: translateX(90px);
    --dot-color: var(--orange);
}

.dotColor.peach {
    transform: translateX(72px);
    --dot-color: var(--peach);
}

.dotColor.green {
    transform: translateX(54px);
    --dot-color: var(--green);
}

.dotColor.turquoise {
    transform: translateX(36px);
    --dot-color: var(--turquoise);
}

.dotColor.cornflowerBlue {
    transform: translateX(18px);
    --dot-color: var(--cornflower-blue);
}

.dotColor.deepPurple {
    --dot-color: var(--deep-purple);
}

#dotColors:hover .dotColor {
    will-change: transform;
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0.6, 1.6, 0.5, 1.0);
    transition-delay: 0ms;
    transition-duration: 350ms;
}

#dotPopup[data-id="undefined"] .dotColor {
    transform: translateX(0);
}

#dotColors:hover .dotColor.orange {
    transition-delay: 50ms;
}

#dotColors:hover .dotColor.peach {
    transition-delay: 100ms;
}

#dotColors:hover .dotColor.green {
    transition-delay: 150ms;
}

#dotColors:hover .dotColor.turquoise {
    transition-delay: 200ms;
}

#dotColors:hover .dotColor.cornflowerBlue {
    transition-delay: 250ms;
}

#dotComments {
    max-height: 400px;
    padding-top: 24px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    scroll-behavior: smooth;
}

#dotComments .comment {
    display: flex;

    overflow: hidden;
    transition: height 200ms ease-out,
                padding 250ms ease-out,
                background-color 150ms ease-out;
}

#dotComments .comment.loading {
    opacity: 0.5;
}

#dotComments .comment:first-child {
    padding: 0 6px 12px 12px;
}

#dotComments .comment.editing {
    padding: 6px 6px 6px 12px;
}

#dotComments .comment:nth-child(n+2) {
    padding: 12px 6px 12px 12px;
}

#dotComments .comment:nth-child(odd) {
    background-color: #fff;
}

#dotComments .comment:nth-child(even) {
    background-color: var(--whitey);
}

.commentAuthorImageFrame {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.commentAuthorImage {
    border-radius: 50%;
}

.commentData {
    flex: 1;
    overflow: hidden;
}

.commentData h4 {
    position: relative;
    display: flex;
    align-items: center;
}

.commentAuthorName {
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 6px;
    font-weight: 500;
    font-size: 15px;
    color: var(--teflon);
}

.commentLink:hover {
    background-image: linear-gradient(transparent 16px, var(--gandalf) 16px, var(--gandalf) 17px, transparent 17px);
}

.commentCreated {
    font-size: 12px;
    color: var(--gandalf);
}

#dotComments .comment:nth-child(odd) .commentCreated {
    text-shadow: 1px 0 #fff, -1px 0 #fff;
}

#dotComments .comment:nth-child(even) .commentCreated {
    text-shadow: 1px 0 var(--whitey), -1px 0 var(--whitey);
}

.commentButtons {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
}

.commentButtons {
    display: none;
    align-items: center;
}

.commentButtons button {
    height: 16px;
    margin-left: 6px;
    padding: 0 6px;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
    background-color: #bcb5b9;
    background-color: var(--warm-gray);
    overflow: hidden;
}

.commentButtons.flashing {
    opacity: 0;
    display: flex;
}

.commentButtons.flashing .dotReopenButton {
    background-color: var(--light-orange);
}

.commentButtons button:active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(85, 77, 86, 0.6);
    /* background-color: var(--teflon-50pc); */
    pointer-events: none;
}

.commitButtons {
    display: none;
    align-items: center;
    position: absolute;
    right: 0;
}

.commitButtons button {
    height: 24px;
    width: 24px;
    margin-left: 4px;
    color: var(--teflon);
    border-radius: 2px;
    position: relative;
}

.commitButtons button:active,
.commitButtons button:focus {
    background-color: var(--gandalf-30pc);
}

.comment:hover .commentButtons {
    display: flex;
}

.dotResolveButton,
.dotReopenButton,
.commentEditButton,
.commentDeleteButton,
#dotPopup.resolved .commentOwner .commentEditButton {
    display: none;
}

#dotPopup.open .comment:first-child .dotResolveButton,
#dotPopup.resolved .comment:first-child .dotReopenButton,
.commentOwner .commentEditButton,
.canRemoveNotes .commentDeleteButton,
.commentOwner .commentDeleteButton {
    display: block;
}

.commentArea {
    display: flex;
}

.commentWrapper,
#newCommentWrapper {
    position: relative;
    width: 100%;
}

.commentMirror,
#newCommentMirror {
    width: 248px;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch;
    line-height: 22px;
    font-size: 15px;
    color: var(--teflon);
}

.commentMirror .customEmoji {
    width: 22px;
    height: 22px;
    object-fit: contain;
    position: relative;
    top: -2px;
    vertical-align: middle;
}

.commentMirror .emoji {
    font-size: 22px;
    position: relative;
    top: 3px;
}

.commentMirror.jumboEmojis {
    height: 42px;
}

.jumboEmojis .customEmoji {
    width: 32px;
    height: 32px;
    top: 5px;
}

.jumboEmojis .emoji {
    font-size: 32px;
    top: 14px;
}

.commentContainer {
    visibility: hidden;
}

.commentNote,
#newCommentNote {
    visibility: hidden;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    color: var(--teflon);
}

.commentMirror .color {
    white-space: nowrap;
    font-style: italic;
    font-weight: 500;
}

.commentMirror .colorPreview {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.commentMirror .colorPreview  {
    width: 12px;
    height: 12px;
    margin: 0 0 2px 4px;
}

.commentMirror .user {
    white-space: nowrap;
    font-style: italic;
    font-weight: 500;
}

#dotPopup.yellow .commentMirror .user.self {
    background-color: var(--yellow-30pc);
}

#dotPopup.orange .commentMirror .user.self {
    background-color: var(--orange-30pc);
}

#dotPopup.peach .commentMirror .user.self {
    background-color: var(--peach-30pc);
}

#dotPopup.green .commentMirror .user.self {
    background-color: var(--green-30pc);
}

#dotPopup.turquoise .commentMirror .user.self {
    background-color: var(--turquoise-30pc);
}

#dotPopup.cornflowerBlue .commentMirror .user.self {
    background-color: var(--cornflower-blue-30pc);
}

#dotPopup.deepPurple .commentMirror .user.self {
    background-color: var(--deep-purple-30pc);
}

.commentMirror .link {
    color: var(--cornflower-blue);
}

.commentMirror .link:hover {
    text-decoration: underline;
}

.commentSendButton,
.commentDoneButton,
#newCommentSendButton {
    position: relative;
    top: 1px;
    width: 48px;
    height: 20px;
    margin-left: 6px;
    border-radius: 10px;
}

.commentDoneButton {
    display: none;
}

.commentSendButton::before,
.commentDoneButton::before,
#newCommentSendButton::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    color: #fff;
}

.commentSendButton::before,
#newCommentSendButton::before {
    content: "Send";
}

.commentDoneButton::before {
    content: "Done";
}

.commentSendButton:hover::before,
.commentDoneButton:hover::before,
#newCommentSendButton:hover::before {
    content: "ctrl ⏎";
    line-height: 21px;
}

.mac .commentSendButton:hover::before,
.mac .commentDoneButton:hover::before,
.mac #newCommentSendButton:hover::before {
    content: "⌘ ⏎";
}

.commentSendButton:active::after,
.commentDoneButton:active::after,
#newCommentSendButton:active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(85, 77, 86, 0.6);
    /* background-color: var(--teflon-50pc); */
    pointer-events: none;
}

.comment.editing .commentAuthorImageFrame,
.comment.editing .commentAuthorName,
.comment.editing .commentCreated,
.comment.editing .commentEdited,
.comment.editing .commentButtons {
    display: none;
}

.comment.editing .commentWrapper,
#newCommentWrapper {
    width: 248px;
    max-height: 154px;
}

.comment.editing .commentMirror,
#newCommentMirror {
    visibility: hidden;
    max-height: 154px;
}

.comment.editing .commentNote,
#newComment.composing #newCommentNote {
    visibility: visible;
}

.comment.editing .commentDoneButton {
    display: block;
}

.commentEdited {
    font-size: 10px;
    color: var(--gandalf);
}

.commentEdited::before {
    content: "Edited ";
}

.commentEdited[datetime=""] {
    display: none;
}

#newCommentButtons {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 34px;
    background-color: #fff;
}

#dotPopup.resolved #newCommentButtons button {
    opacity: 0.6;
}

.composing #newCommentButtons {
    display: none;
}

#newCommentButton {
    flex: 1;
    height: 34px;
    padding: 6px 0 6px 60px;
    text-align: left;
    line-height: 22px;
    font-size: 15px;
    background-color: #fff;
}

#newCommentReactions:hover + #newCommentButton {
    display: none;
}

#newCommentReactions {
    height: 100%;
    display: flex;
    padding-right: 6px;
}

#newCommentReactions:hover::before {
    content: "Quick-reply";
    position: absolute;
    right: 112px;
    line-height: 34px;
    font-size: 14px;
    text-align: right;
    color: #979197;
    /* color: var(--gandalf); */
    pointer-events: none;
}

#newCommentReactions {
    height: 100%;
    display: flex;
    padding-right: 6px;
}

.newCommentReaction {
    height: 100%;
    width: 32px;
    display: flex;
    padding: 2px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.newCommentReaction:hover img {
    border-radius: 50%;
    background-color: #bcb5b9;
    background-color: var(--warm-gray);
}

#newCommentButton:active {
    background-color: var(--whitey);
}

#newComment.composing #newCommentButton {
    display: none;
}

#newCommentArea {
    display: none;
    padding: 6px 6px 6px 12px
}

#newComment.composing #newCommentArea {
    display: flex;
    background-color: var(--whitey);
}

#dotPopup.yellow .dotColor.yellow,
#dotPopup.orange .dotColor.orange,
#dotPopup.peach .dotColor.peach,
#dotPopup.green .dotColor.green,
#dotPopup.turquoise .dotColor.turquoise,
#dotPopup.cornflowerBlue .dotColor.cornflowerBlue,
#dotPopup.deepPurple .dotColor.deepPurple {
    z-index: 1;
}

#dotPopup[data-id="undefined"].yellow  .dotColor.yellow,
#dotPopup[data-id="undefined"].orange  .dotColor.orange,
#dotPopup[data-id="undefined"].peach  .dotColor.peach,
#dotPopup[data-id="undefined"].green  .dotColor.green,
#dotPopup[data-id="undefined"].turquoise  .dotColor.turquoise,
#dotPopup[data-id="undefined"].cornflowerBlue  .dotColor.cornflowerBlue,
#dotPopup[data-id="undefined"].deepPurple  .dotColor.deepPurple,
#dotPopup.yellow #dotColors:hover .dotColor.yellow,
#dotPopup.orange #dotColors:hover .dotColor.orange,
#dotPopup.peach #dotColors:hover .dotColor.peach,
#dotPopup.green #dotColors:hover .dotColor.green,
#dotPopup.turquoise #dotColors:hover .dotColor.turquoise,
#dotPopup.cornflowerBlue #dotColors:hover .dotColor.cornflowerBlue,
#dotPopup.deepPurple #dotColors:hover .dotColor.deepPurple {
    box-shadow: 0 0 0 1px #fff,
                0 0 0 2px var(--dot-color);
}

#dotPopup.yellow .commentDoneButton,
#dotPopup.yellow #newCommentSendButton {
    background-color: var(--yellow);
}

#dotPopup.orange .commentDoneButton,
#dotPopup.orange #newCommentSendButton {
    background-color: var(--orange);
}

#dotPopup.peach .commentDoneButton,
#dotPopup.peach #newCommentSendButton {
    background-color: var(--peach);
}

#dotPopup.green .commentDoneButton,
#dotPopup.green #newCommentSendButton {
    background-color: var(--green);
}

#dotPopup.turquoise .commentDoneButton,
#dotPopup.turquoise #newCommentSendButton {
    background-color: var(--turquoise);
}

#dotPopup.cornflowerBlue .commentDoneButton,
#dotPopup.cornflowerBlue #newCommentSendButton {
    background-color: var(--cornflower-blue);
}

#dotPopup.deepPurple .commentDoneButton,
#dotPopup.deepPurple #newCommentSendButton {
    background-color: var(--deep-purple);
}

#dotPopup.yellow .comment.editing,
#dotPopup.yellow .comment.highlight {
    background-color: var(--yellow-15pc);
}

#dotPopup.orange .comment.editing,
#dotPopup.orange .comment.highlight {
    background-color: var(--orange-15pc);
}

#dotPopup.peach .comment.editing,
#dotPopup.peach .comment.highlight {
    background-color: var(--peach-15pc);
}

#dotPopup.green .comment.editing,
#dotPopup.green .comment.highlight {
    background-color: var(--green-15pc);
}

#dotPopup.turquoise .comment.editing,
#dotPopup.turquoise .comment.highlight {
    background-color: var(--turquoise-15pc);
}

#dotPopup.cornflowerBlue .comment.editing,
#dotPopup.cornflowerBlue .comment.highlight {
    background-color: var(--cornflower-blue-15pc);
}

#dotPopup.deepPurple .comment.editing,
#dotPopup.deepPurple .comment.highlight {
    background-color: var(--deep-purple-15pc);
}

#dotPopup .comment.new {
    transition: background-color 500ms ease-out;
}

#dotPopup .comment.highlight {
    transition: background-color 300ms ease-out;
}

#dotPopup.yellow ::-moz-selection {
    background-color: var(--yellow-99pc);
}

#dotPopup.orange ::-moz-selection {
    background-color: var(--orange-99pc);
}

#dotPopup.peach ::-moz-selection {
    background-color: var(--peach-99pc);
}

#dotPopup.green ::-moz-selection {
    background-color: var(--green-99pc);
}

#dotPopup.turquoise ::-moz-selection {
    background-color: var(--turquoise-99pc);
}

#dotPopup.cornflowerBlue ::-moz-selection {
    background-color: var(--cornflower-blue-99pc);
}

#dotPopup.deepPurple ::-moz-selection {
    background-color: var(--deep-purple-99pc);
}

#dotPopup.yellow ::selection {
    background-color: rgba(254, 207, 51, 0.99);
    /* background-color: var(--yellow-99pc); */
}

#dotPopup.orange ::selection {
    background-color: rgba(246, 152, 51, 0.99);
    /* background-color: var(--orange-99pc); */
}

#dotPopup.peach ::selection {
    background-color: rgba(238, 103, 35, 0.99);
    /* background-color: var(--peach-99pc); */
}

#dotPopup.green ::selection {
    background-color: rgba(200, 207, 45, 0.99);
    /* background-color: var(--green-99pc); */
}

#dotPopup.turquoise ::selection {
    background-color: rgba(13, 207, 218, 0.99);
    /* background-color: var(--turquoise-99pc); */
}

#dotPopup.cornflowerBlue ::selection {
    background-color: rgba(65, 154, 249, 0.99);
    /* background-color: var(--cornflower-blue-99pc); */
}

#dotPopup.deepPurple ::selection {
    background-color: rgba(219, 124, 238, 0.99);
    /* background-color: var(--deep-purple-99pc); */
}

#dotPopup.yellow.open #newCommentButton {
    color: var(--yellow);
}

#dotPopup.orange.open #newCommentButton {
    color: var(--orange);
}

#dotPopup.peach.open #newCommentButton {
    color: var(--peach);
}

#dotPopup.green.open #newCommentButton {
    color: var(--green);
}

#dotPopup.turquoise.open #newCommentButton {
    color: var(--turquoise);
}

#dotPopup.cornflowerBlue.open #newCommentButton {
    color: var(--cornflower-blue);
}

#dotPopup.deepPurple.open #newCommentButton {
    color: var(--deep-purple);
}

#dotPopup.resolved #newCommentButton {
    color: var(--gandalf);
}

#layoutGridRows {
    background-origin: content-box;
    background-repeat: repeat-y;
}

#projectIcon + div {
    width: calc(100% - 44px);
}

#androidResFolderReminderDialog {
    border-radius: 4px;
    color: var(--teflon);
}

#androidResFolderReminderDialog {
    padding: 48px 0 0;
    width: 600px;
    height: 414px;
    box-shadow: 0 0 4px 0 var(--teflon-50pc);
}

.androidResFolderReminderDialogHeader{
    text-align: center;
}

.androidResFolderReminderDialogHeader h1 {
    line-height: 21px;
    font-size: 18px;
}
.androidResFolderReminderDialogHeader h1 {
    width: 362px;
}

.androidResFolderReminderDialogHeader {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

#androidResFolderReminderDialog form img {
    width: 600px;
    height: 248px;
    display: block;
}

#androidResFolderReminderDialog .buttonContainer {
    padding-right: 24px;
}

.dialogButton {
    position: relative;
    min-width: 72px;
    width: auto;
    height: 36px;
    margin: 0;
    padding: 9px 8px 8px;
    background-color: #fff;
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.dialogButton:hover {
    box-shadow: 0 2px 6px 0 var(--teflon-20pc);
}

@media (hover: none), (hover: on-demand) {
    #resourceViewPreact {
        overflow-y: auto;
    }

    #sections {
        overflow-y: auto;
    }
}

#suggestedUsersContainer {
    width: 258px;
    max-height: 308px;
}

#suggestedEmojisContainer {
    width: 198px;
    max-height: 273px;
}

#suggestedEmojisContainer,
#suggestedUsersContainer {
    position: absolute;
    overflow: auto;
    left: 12px;
    box-shadow: 0 1px 2px 0 var(--teflon-50pc);
    z-index: 10;
}

.emojiChar {
    font-size: 18px;
    line-height: 26px;
    margin-left: 2px;
}

.emojiImg {
    width: 22px;
}

.emojiImg,
.emojiChar {
    height: 22px;
    object-fit: contain;
}

.emojiAlias {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    margin-left: 16px;
}

#suggestedEmojisContainer .suggestedItem {
    padding: 0 12px 0 8px;
    height: 42px;
}

#suggestedEmojisContainer .suggestedItem .emojiImg {
    display: none;
}

#suggestedEmojisContainer .suggestedItem.customEmoji .emojiChar {
    display: none;
}

#suggestedEmojisContainer .suggestedItem.customEmoji .emojiImg {
    display: block;
}

.suggestedListBox {
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;
}

#noSuggestedUser {
    display: none;

    width: 100%;
    height: 208px;

    background-color: #fff;

    padding: 6px 12px;
}

.suggestedListBox:empty {
    display: none;
}

.suggestedListBox:empty + #noSuggestedUser {
    display: block;
}

.suggestedItem {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    color: var(--teflon);
}

.suggestedItem:nth-of-type(odd) {
    background-color: #fff;
}

.suggestedItem:nth-of-type(even) {
    background-color: var(--whitey);
}

.suggestedItem.selected {
    background-color: var(--yellow);
    color: #fff;
}

.projectIcon {
    display: none;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    border-radius: 50%;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.suggestedUserImageFrame {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.suggestedUserImage {
    border-radius: 50%;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.suggestedUserInfo {
    pointer-events: none;
}

.suggestedUserName {
    width: 182px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    pointer-events: none;
}

.suggestedUserName.you::after {
    content: " (you)";
    color: #979197;
    /* color: var(--gandalf); */
}

.suggestedItem.selected .suggestedUserName.you::after {
    color: #ffffff;
}

.everyoneInfo {
    width: 182px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: var(--gandalf);
    pointer-events: none;
}

.suggestedItem.selected .everyoneInfo {
    color: #fff;
}

.projectIcon {
    background-color: var(--teflon);
    background-size: 21px;
    background-position: center;
    background-repeat: no-repeat;
}

.projectIcon[data-type] {
    display: block;
}

.projectIcon[data-type="broccoli"] {
    background-image: url(../img/chars/icBroccoliSelected.svg);
}

.projectIcon[data-type="car"] {
    background-image: url(../img/chars/icCarSelected.svg);
}

.projectIcon[data-type="cook"] {
    background-image: url(../img/chars/icCookSelected.svg);
}

.projectIcon[data-type="elephant"] {
    background-image: url(../img/chars/icElephantSelected.svg);
}

.projectIcon[data-type="mariachi"] {
    background-image: url(../img/chars/icMariachiSelected.svg);
}

.projectIcon[data-type="paw"] {
    background-image: url(../img/chars/icPawSelected.svg);
}

.projectIcon[data-type="pear"] {
    background-image: url(../img/chars/icPearSelected.svg);
}

.projectIcon[data-type="rocket"] {
    background-image: url(../img/chars/icRocketSelected.svg);
}

.suggestedUserImage[src] {
    display: block;
}

.nooneText {
    line-height: 18px;
    font-size: 15px;

    padding-top: 12px;
}

.bigEmoji {
    font-size: 72px;
    text-align: center;

    line-height: 105px;
}

.comment #suggestedUsersContainer {
    z-index: 1;
}

aside.resizable.resizing .resizer,
aside.resizable:hover .resizer {
    opacity: 1;
}

.resizing .versionsSidebar {
    pointer-events: none;
}

.resizing .tabContent,
.resizing .screenContent {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resizing {
    cursor: col-resize;
}

.resizing.resizingright.maxResizing,
.resizing.resizingleft.minResizing,
aside.resizable[data-side="right"].maxSizebar:hover .resizer,
aside.resizable[data-side="left"].minSizebar:hover .resizer,
aside.resizable[data-side="left"].collapsed .resizer {
    cursor: e-resize;
}

.resizing.resizingright.minResizing,
.resizing.resizingleft.maxResizing,
aside.resizable[data-side="right"].minSizebar:hover .resizer,
aside.resizable[data-side="right"].collapsed .resizer,
aside.resizable[data-side="left"].maxSizebar:hover .resizer {
    cursor: w-resize;
}

aside.resizable[data-side="right"].collapsed .resizer {
    opacity: 1;
    width: 20px;
    left: 0;
}

#dots::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: background-color 500ms ease-in-out;
    background-color: transparent;
}

#dots.flashing::after {
    background-color: rgba(65, 154, 249, 0.5);
    /* background-color: var(--light-orange-50pc); */
}

@keyframes tap-me {
    to {
        transform: scale(1.1);
    }
}

#tabsTutorialCircle {
    display: block;
    position: absolute;

    animation-name: tap-me;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    z-index: 100;
    cursor: pointer;
}

#tabsTutorialCircle {
    left: calc(50% - 106px);
    top: 18px;
}

#tabsTutorialCircle.hidden {
    display: none;
}

@media (max-height: 514px) {
    #dotComments {
        max-height: calc(100vh - 114px);
    }
}

@media (pointer: coarse) {
    .resizer {
        opacity: 1;
    }
}
